@import "../../utilities/mixin";
@import "../../utilities/variables";


.navbar {
    height: 10vh;

    &-wrapper {
        @include centerItemBetween();
        height:100%;
        padding: 5px 15px;
        color: black;

        &-left {
            flex: 40%;
            display: flex;
            align-items: center;
            padding: 5px;

            .navbar-logo {
                font-weight: bold;
                font-size: 1.5rem;
            }
        }

        &-right {
            flex: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 5px;

            .navbar-toogle {
                width: 42px;
                height: 22px;
                border-radius: 10px;
                background: $color_toggle;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 1%;

                &-btn {
                    width: 17px;
                    height: 16px;
                    border-radius: 100%;
                    cursor: pointer;
                    background-color: hsl(232, 19%, 15%);
                }
            }

            /*  Hamburger menu  */
            /*  using BEM naming convention  */

            .menu-icon {
                margin-left: 10px;
                position: relative;
                padding: 26px 10px;
                cursor: pointer;
                z-index: 999;
            
                &__line {
                    display: block;
                    position: relative;
                    background: black;
                    height: 2px;
                    width: 28px;  
                    border-radius: 4px;
                    transition: all .5s ease-in-out;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        border-radius: 4px;
                        background: black;
                        transition: all .5s ease-in-out;
                    }

                    &::before {
                        transform: translateY(-8px);
                    }
        
                    &::after {
                        transform: translateY(8px);
                    }
                }
            }

            /* Animation Menu  */

            .menu-icon.open .menu-icon__line {
                transform: translateX(-10px);
                background: transparent;
            }
            .menu-icon.open .menu-icon__line::before {
                transform: rotate(45deg) translate(10px, -10px);
            }
            .menu-icon.open .menu-icon__line::after {
                transform: rotate(-45deg) translate(10px, 10px);
            }
        }
    }

}

//Sidebar
.navbar-mobile {
    display: block;
    position: fixed;
    border-radius: 20px 0 0 20px;
    top: 0;
    right: 0;
    width: 80vw;
    min-height: 100vh;
    z-index: 990;
    padding: 150px 20px;
    background: $color_secondary;
    transition: all .1s ease-in-out;

    & p {
        margin: 15px 0;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: start;
        margin-right: 25px;
    }

    & div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }
}

.invisible {
    @include invisible();
}


//Wine Bar icon by Icons8 https://icons8.com/icon/pJMJWmXvbkIh/wine-bar
//<a href="https://www.flaticon.com/free-stickers/meal" title="meal stickers">Meal stickers created by Stickers - Flaticon</a>