@import "../../utilities/mixin";
@import "../../utilities/variables";

.btnMove-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-self: center;
    position: absolute;
    bottom: -30px;
    /* background: $color_btnMove; */
    background-color: $color_btnMoveBackColor;
    color: darkorange;
    box-shadow: 2px 6px 15px -1px rgba(0,0,0,0.20);
    -webkit-box-shadow: 2px 6px 15px -1px rgba(0,0,0,0.20);

    & a {
        display: flex;
    }
}